{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOMB RAIDER</title>
    <!-- Enlace a Bootstrap para hacerlo responsivo -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/stylegames.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Caudex&display=swap" rel="stylesheet">
</head>

<body>

    <header class="text-center">
        <a href='{% url 'categoria_aventura' %}'" class="btn-volver">&#11013;</a>
        <a href='{% url 'carrito' %}'" class="btn-vercarrito">🛒 Ver Carrito</a>

        <h1>
            <span class="emoji">💥</span>
            <span class="titulo-con-efecto">Una heroína imparable</span>
            <span class="emoji">💥</span>
        </h1>
    </header>

    <main class="container mt-5 text-center">
        <div class="game">
            <img src="{% static 'imagenes/tombraidergif.gif' %}" class="img-fluid" alt="Animación Tomb Raider" />
            <p>
                Ponte en la piel de <strong>Lara Croft</strong>, la arqueóloga más intrépida del mundo, y adéntrate en un viaje lleno de peligro y misterio.<br><br>
                ¿Tienes lo necesario para sobrevivir, descubrir y conquistar lo desconocido? <br><br>
                ✨ <em>La aventura definitiva te espera... ¡y no hay vuelta atrás!</em>
            </p>
        </div>
    </main>

    <div class="barra-inferior text-center">
        <a href="#" class="btn-carrito" id="boton-elden" onclick="agregarYRedirigir()">
            🎮 ¡Quiero esta aventura! 🎮 <br>
            <em>¡Haz clic y revive la leyenda con Lara Croft por CLP $35.990!</em>
        </a>
    </div>

    <footer class="text-center mt-5">
        <p>&copy; 2025 Grupo 8 Programación Web. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/juegosJS/tomb.js' %}"></script>
</body>

</html>
