/* Estilo global para la página */
body {
    font-family: 'Press Start 2P', cursive, sans-serif; /* Fuente estilo retro gamer */
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Título principal de la página */
h1 {
    text-align: center;
    font-size: 3em;
    color: #ff0066; /* Color llamativo */
    text-shadow: 3px 3px 10px rgba(255, 0, 102, 0.7);
    margin-bottom: 30px;
}

/* Estilos para la lista de juegos */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Estilo para cada juego */
li {
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

/* Flexbox para detalles */
.game-details {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-gap: 10px;
}

/* Estilo para el título del juego */
strong {
    font-size: 1.8em;
    color: #5fe3ed;
    text-shadow: 1px 1px 5px rgba(29, 5, 168, 0.7);
    grid-column: span 2; /* El título ocupará toda la fila */
}

/* Estilo para el precio */
.game-details span.price {
    font-size: 1.2em;
    color: #00ff00;
    font-weight: bold;
    grid-column: span 2; /* El precio ocupará toda la fila */
}

/* Estilo para la descripción en recuadro */
.game-details span.descripcion {
    font-size: 1.1em;
    color: #bbb;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
    grid-column: span 2; /* La descripción ocupará toda la fila */
}

/* Estilos para los detalles de género y plataforma */
.game-details span {
    font-size: 1.1em;
    color: #bbb;
}

.game-details span strong {
    color: #ff0066;
}

/* Estilo para los enlaces de los juegos */
.game-link {
    font-size: 1.2em;
    color: #00ff00;
    text-decoration: none;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: fit-content;
    grid-column: span 2; /* El enlace ocupará toda la fila */
}

.game-link:hover {
    background-color: #00b300;
    text-decoration: underline;
}

/* Responsividad para pantallas pequeñas */
@media screen and (max-width: 768px) {
    li {
        flex-direction: column;
    }

    .game-details {
        grid-template-columns: 1fr; /* En pantallas pequeñas, todo en una columna */
    }
}








